@model laba2.Models.Subject
@{
    ViewData["Title"] = "AddSubject";
}

<h3>@ViewData["Message"]</h3>

<div class="form-group">
    @using (Html.BeginForm("AddSubject", "Home", FormMethod.Post))
    {
    <p>
        @Html.LabelFor(m => m.Name, "Название")<br />
        @Html.EditorFor(m => m.Name, new { htmlAttributes = new { @class = "form-control" } })
    </p>
    <p>
        @Html.LabelFor(m => m.Description, "Описание")<br />
        @Html.EditorFor(m => m.Description, new { htmlAttributes = new { @class = "form-control" } })
    </p>
    <p>
        @Html.LabelFor(m => m.Teacher, "Преподаватель")<br />
        @Html.EditorFor(m => m.Teacher, new { htmlAttributes = new { @class = "form-control" } })
    </p>
    <p>
        <input type="submit" value="Отправить" class="btn btn-primary mb-2" />
    </p>
    }
</div>

